$color-body-background: #fff;

$color-primary: #232346;

$color-primary-dark: darken($color-primary, 2);

$color-text-dark: #333;
$color-text-light: #fff;

$color-initial: #fff;
$color-light: #F1E8E0;

$color-input-text: #333;
$color-input-border: #666;
$color-input-border-focus: #ccc;

$font-weight-normal: 400;
$font-weight-bold: 700;

$card-drop-shadow: 0 0 10px 0 rgba(0,0,0,0.15);